{% extends 'base2.html' %}

{% block content %}
<div class="about_us_container rounded">

<h3>Established in 2022 by a team of animal adoring ladies, Totally Pawesome aims to find loving homes for pets with a focus on senior cats and dogs. If you are able to provide a stable, loving home then adopt a pet today and enrich their life and yours!</h3>
    </div>
<br>
<br>

<h3>Contact us:</h3><a style="text-decoration:none;color:#000000;" href="mailto:totallypawesome@petmail.com">totallypawesome@petmail.com</a>


{% endblock %}