{% extends 'base2.html' %}

{% block content %}



<div class="main_image container">

        <div class="row">

          <div class="col">
            <img style="border: 1px solid black;"
                 src="static/images/animals2.jpeg"
              alt="animals image"
              class="animals_image img-flex img-fluid rounded"
            style="border: 5px solid #00000; padding 3px; margin: 5px; ">
            </div>


        </div>
        <div class="row">
        <div class="col">
        <a href="http://127.0.0.1:5002/adopt" style="text-decoration:none;">
            <button type="button" class="btn btn-lg" >Adopt a Pet</button>
             </form>
            </a>
          </div>

           </div>
      </div>

{% endblock %}