{% extends 'base2.html' %}

{% block content %}

<h2>Thank you for adopting {{ adopted_animal['name'] }}!</h2>
{% set image = [] %}
          {% if adopted_animal['photos'] | length > 0 %}
            {% for photo_item in adopted_animal['photos'] %}
                  {% for size, url in photo_item.items() %}
                    {% set image = image.append(url) %}
                  {% endfor %}
            {% endfor %}
           <img class="card-img-top" height="345px" width="354px" src="{{image[2]}}" alt="{{adopted_animal['breeds']['primary']}} {{adopted_animal['breeds']['species']}}" >
          {% else %}
              <img class="card-img-top" height="350px" width="350px" src="static/images/animals.jpeg" alt="Card image cap">
          {% endif %}

{% endblock %}